<%= stylesheet_link_tag "casas", media: "all", "data-turbo-track": "reload" %>

<link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
<div class="page-pontos">

  <div class="container magia-container mt-4">

    <h1 class="titulo-magico">
      🏆 Atribuição de Pontos às Casas
    </h1>

    <% if notice %>
      <div class="alert alerta-magico"><%= notice %></div>
    <% elsif alert %>
      <div class="alert alerta-magico"><%= alert %></div>
    <% end %>

    <%= form_with url: adicionar_pontos_casas_path, method: :post, class: "card-pontos" do %>

      <div class="mb-3">
        <label class="label-magico">Casa</label>
        <%= select_tag :casa_id,
              options_from_collection_for_select(@casas, :id, :nome),
              class: "form-select input-magico" %>
      </div>

      <div class="mb-3">
        <label class="label-magico">Pontos</label>
        <%= number_field_tag :pontos, nil, class: "form-control input-magico" %>
      </div>

      <div class="text-center">
        <%= submit_tag "✨ Conceder Pontos", class: "btn btn-magico" %>
      </div>

    <% end %>

  </div>

</div>


  <div class="text-center mt-4">
    <%= link_to "🏆 Ver Placar", casas_path, class: "btn btn-magico-secundario", target: "_blank" %>
  </div>

</div>
