<p class="aviso-magico"><%= notice %></p>

<%= stylesheet_link_tag "casas", media: "all", "data-turbo-track": "reload" %>

<link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">

<% content_for :title, "Casas" %>

<h1 class="titulo-magico text-center">🏰 TAÇA DAS CASAS</h1>

<div class="container mt-5 magia-container">

  <!-- 🔥 GRID CORRETO -->
  <div class="row-casas">

    <% @casas.each do |casa| %>

      <!-- ❌ REMOVIDO col-md-4 -->
      <div class="card-magico text-center">

        <h5 class="nome-casa"><%= casa.nome %></h5>

        <p class="pontos-casa">
          ⭐ <%= casa.pontos %> pontos
        </p>

        <% imagem = case casa.nome.downcase %>
          <% when "css" then "css.png" %>
          <% when "html" then "html.png" %>
          <% when "javascript" then "js.png" %>
        <% end %>

        <% if imagem.present? %>
          <img src="<%= asset_path(imagem) %>"
               alt="<%= casa.nome %>"
               class="casa-imagem">
        <% end %>

        <%= link_to "🔮 Ver Casa", casa, class: "btn btn-magico" %>

      </div>

    <% end %>

  </div>

</div>
